
<!-- Esta mierda hay que mejorarla, no me acuerdo mucho html -->
																	<!-- Esto tiene codigo Js para deshabilitar la subidad el form al presionar la tecla "Enter" -->
<form action="{% url 'posting_form' simbolo=simb %}" method="POST" onkeydown="if(event.key === 'Enter') event.preventDefault();">
	{% csrf_token %}
	<div>
		<p>Título <input type="text" name="titulo_post"></p>

		<p>
			<!-- Centrar esta mierda -->
			<div>
				<div>
					Contenido
				</div>
				<div>
					<textarea rows="10" cols="50" name="contenido_post"></textarea>	
				</div>
			</div>
		</p>
	</div>
	<input type="submit" name="post_boton" value="Vomitar">
</form>
