<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zona de posteo</title>
</head>
<body>
	<!-- Esta mierda hay que mejorarla, no me acuerdo mucho html -->
	<form action="{% url 'posting_form' simbolo=simbolo %}" method="POST">
		{% csrf_token %}
		<div>
			<p>Titulo</p>
			<input type="text" name="titulo_post">
			<br>
			<p>Contenido</p>
			<textarea rows="10" cols="50" name="contenido_post"></textarea>
		</div>
		<input type="submit" name="post_boton" value="Vomitar">
		<!-- Nose si es necesario un -->
		<input type="submit" name="cancelar_boton" value="Cancelar">
	</form>
</body>
</html>