<!-- Esta mierda hay que mejorarla, no me acuerdo mucho html -->
<form action="{% url 'posting_form' simbolo=simbolo_data %}" method="POST">
	{% csrf_token %}
	<div>
		<p>
			<div>
				- Título - 
			</div>
			<div>
				<!-- Esto tiene codigo Js para deshabilitar la subidad el form al presionar la tecla "Enter" -->
				<input type="text" name="titulo_post" onkeydown="if(event.key === 'Enter') event.preventDefault();">
			</div>
		</p>

		<p>
			<!-- Centrar esta mierda -->
			<div>
				<div>
					- Contenido -
				</div>
				<div>
					<textarea rows="10" cols="50" name="contenido_post"></textarea>	
				</div>
			</div>
		</p>
	</div>
	<input type="submit" name="post_boton" value="Vomitar">
</form>
