<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[Vomiting Things!]</title>
</head>
<body>
	<div>
		<h1>[Vomiting Things!]</h1>
		<p>
			Bienvenid@ a [Vomiting Things!], el lugar para vomitar tus ideas!!! <br>

			Procura respetar los <a href="">lineamientos y las reglas</a> del sitio, de lo contrario serás banneado de por vida :( <br><br>

			Los avisos y nuevas novedades sobre el sitio se encuentran en <a href="">/noticias/</a>
		</p>
	</div>

	<br>

	<!-- A este div hay que centrarlo xd -->
	<div>
		<p>- Tablones -</p>
		<ul>
			<li><a href="{% url 'tablon_vista' 'v' %}">Videojuegos /v/</a></li>
			<li>Internet /i/</li>
			<li>Animé /a/</li>
			<li>Tecnología y Programación /tp/</li>
			<li>Random /b/</li>
		</ul>
	</div>
</body>
</html>