<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>/v/ Videojuegos</title>
</head>
<body>
	<header>
		<div>
			<a href="{% url 'home_view' %}">/home/</a>
			<a href="{% url 'tablon_vista' simbolo='v' %}">/v/</a>
			<a href="">/i/</a>
			<a href="">/a/</a>
			<a href="">/tp/</a>
			<a href="">/b/</a>
		</div>
	</header>
	
	<br>

	<div>
		<!-- Esto manda a la template de posteo -->
		<h1><a href="{% url 'posting_view' simbolo='v' %}">[Vomitar]</a></h1>
	</div>
	<br>

	<!-- Contiene a la lista de posteos -->
	<div>
		{% for post in post_data %}
		<div>
			<h2>{{ post.titulo }}</h2>
			<p>[Fecha: {{ post.fecha_publicacion }} - Hora: {{ post.hora_publicacion }}]</p>
		</div>
		<!-- Filtro para traducir saltos de linea a etiquetas br -->
		<p>{{ post.contenido|linebreaks }}</p>
		<br>
		{% endfor %}
	</div>
</body>
</html>