<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>/v/ Videojuegos</title>
</head>
<body>
	<header>
		<div>
			<a href="{% url 'home_view' %}">/home/</a>
			<a href="{% url 'tablon_vista' simbolo='v' %}">/v/</a>
			<a href="">/i/</a>
			<a href="">/a/</a>
			<a href="">/tp/</a>
			<a href="">/b/</a>
		</div>
	</header>
	
	<br>

	<div>
		<!-- Esto manda a la template de posteo -->
		<h1><a href="{% url 'posting_view' simbolo='v' %}">[Vomitar]</a></h1>
	</div>

	<!-- Contiene a la lista de posteos -->
	<div>
<!-- 		{% for post in posts %}
		<h3>{{ post. }}</h3>
		{% endfor %} -->
	</div>
</body>
</html>